*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-meals {
    width: 100%;
    padding: 3% 10%;
    /* border: 1px solid red; */
}

.categories-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.slideBtn {
    border: none;
    background: white;
}

.slideBtn img {
    width: 50%;
}



::-webkit-scrollbar {
    display: none;
  }