*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-meals-home {
    width: 80%;
    padding: 3% 10%;
    margin: auto 10%;
}

.categories {
    width: 100%;
}

.categories-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;   
}

.categories-list a {
    text-decoration: none;
    color: black;
}

.categories-list a:hover {
    color: red;
}

.slideBtn {
    border: none;
    background: white;
}

.slideBtn img {
    width: 50%;
}

.slideBtn img:hover {
    width: 60%;
}

::-webkit-scrollbar {
    display: none;
}

.favourite-meals {
    width: 100%;
}

.favourite-meals a {
    text-decoration: none;
}