* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.daily-meal {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(226, 236, 255); 
    margin: 5% 0;
    border-radius: 2%;
    padding: 2%;
    color: rgb(232, 127, 0);
}

.img-daily {
    width: 60%;  
}

.img-daily img {
    width: 100%;
    border-radius: 2%;
}

.daily-meal-info {
    width: 40%;
    text-align: center;
    padding-top: 0%;    
}

.daily-meal-info h2 {
    margin-bottom: 15%;
}

.daily-meal-info h5 {
    color: rgb(134, 37, 1);
}

.daily-meal:hover {
    color:red;
}

@media (max-width:2560px) {
    .daily-meal-info h5  {
        font-size: 50px;
    }
}

@media (max-width:2000px) {
    .daily-meal {
        font-size: 28px;
    }

    .daily-meal-info h5  {
        font-size: 32px;
    }
}

@media (max-width:1540px) {
    .daily-meal {
        font-size: 24px;
    }

    .daily-meal-info h5  {
        font-size: 30px;
    }
}

@media (max-width:1440px) {
    .daily-meal {
        font-size: 22px;
    }

    .daily-meal-info h5  {
        font-size: 22px;
    }
}

@media (max-width:1200px) {
    .daily-meal {
        font-size: 20px;
    }

    .daily-meal-info h5  {
        font-size: 20px;
    }
}

@media (max-width:1024px) {
    .daily-meal {
        font-size: 14px;
    }

    .daily-meal-info h5  {
        font-size: 18px;
    }
}

@media (max-width:900px) {
    .daily-meal {
        font-size: 14px;
    }

    .daily-meal-info h5  {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .daily-meal {
        font-size: 14px;
    }

    .daily-meal-info h5  {
        font-size: 16px;
    }
}

@media (max-width:600px) {
    .daily-meal {
        font-size: 12px;
    }

    .daily-meal-info h5  {
        font-size: 14px;
    }
}

@media (max-width:426px) {
    .daily-meal {
        font-size: 12px;
    }

    .daily-meal-info h5  {
        font-size: 14px;
    }
}

@media (max-width:376px) {
    .daily-meal {
        font-size: 11px;
    }

    .daily-meal-info h5  {
        font-size: 13px;
    }
}

@media (max-width:320px) {
    .daily-meal {
        font-size: 9px;
    }

    .daily-meal-info h5  {
        font-size: 11px;
    }
}