* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.daily-meal {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(226, 236, 255); 
    margin: 5% 0;
    border-radius: 2%;
    padding: 2%;
}

.img-daily {
    width: 60%;  
}

.img-daily img {
    width: 100%;
    border-radius: 2%;
}

.daily-meal-info {
    width: 40%;
    text-align: center;
    padding-top: 0%;
    color: rgb(134, 37, 1);
}

.daily-meal-info h4, h2 {
    margin-bottom: 15%;
}

.daily-meal-info h2 {
    color: rgb(232, 127, 0);
}