* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-meal-info {
    width: 60%;
    margin: 2% auto; 
}

.meal-info-container {
    width: 100%;
    margin: 0 auto;
}

.name {
    text-align: center;
    color: rgb(134, 37, 1);
    font-size: 32px;
    font-weight: 700;
}

.ingredients {
    margin: 3% 0;
    color: rgb(232, 127, 0);
}

.meal-info-container img {
    width: 50%;
   border-radius: 3%;
}

.img-container {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.recip {
    width: 100%;
    text-align: justify;
}