* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    padding: 1% 20%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(247, 223, 193);
    font-size: 32px;
}

.header-logo-container {
    width: 25%;
    text-align: start;
}

.header-logo {
    width: 50%;
    display: block;
}

.header-tagline {
    width: 50%;
    color: rgb(134, 37, 1);
    font-weight: 700;
    
}

.header-navBar {
    width: 25%;
    display: inline-block;
    text-align: end;   
}

.header-navBar a {
    text-decoration: none;
    color: black;
}

.header-navBar p {
    display: none;
}

.header-navBar span:not(nth-first-child) {
    margin-left: 10%;
}

.header-navBar span:hover {
    color: red;
}

@media (max-width:2560px) {
    .header-container {
        font-size: 40px;
    }

    .header-navBar a {
        font-size: 30px;
    }
}

@media (max-width:1920px) {
    .header-container {
        font-size: 32px;
    }

    .header-navBar a {
        font-size: 24px;
    }
}

@media (max-width:1440px) {
    .header-container {
        font-size: 30px;
    }

    .header-navBar a {
        font-size: 22px;
    }
}

@media (max-width:1024px) {
    .header-container {
        font-size: 24px;
    }

    .header-navBar a {
        font-size: 18px;
    }
}

@media (max-width:900px) {
    .header-container {
        font-size: 22px;
    }

    .header-navBar a {
        font-size: 16px;
    }
}

@media (max-width:768px) {

    .header-container {
        font-size: 22px;
        padding: 1% 15%;
    }

    .header-logo {
        width: 60%;
    }

    .header-navBar p {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }

    .header-navBar p:hover {
        color: red;
    }

    .header-navBar {
        position: relative;
        display: inline-block;
    }

    .header-links {
        width: 100%;
        display: none;
        position: absolute;
        z-index: 1;
        background-color: rgb(247, 223, 193);
    }

    .header-links span {
        display: block;
        font-size: 18px;
    }

    .header-navBar:hover .header-links {
        display: block;  
    }
}

@media (max-width:600px) {
    .header-container {
        font-size: 20px;
    }

    .header-navBar p {  
        font-size: 16px;
    }

    .header-links span {
        font-size: 14px;
    }
}

@media (max-width:426px) {
    .header-container {
        font-size: 16px;
        padding: 1% 10%;
    }

    .header-logo {
        width: 70%;
    }

    .header-navBar p {  
        font-size: 15px;
    }

    .header-links span {
        font-size: 13px;
    }
}

@media (max-width:376px) {
    .header-container {
        font-size: 15px;
    }
}

@media (max-width:320px) {
    .header-container {
        font-size: 14px;
    }

    .header-navBar p {
        font-size: 14px;
    }

    .header-links {
        font-size: 12px;
    }
}