* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 3% 20%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    font-size: 32px;
}

.logo-container {
    width: 25%;
    text-align: start;
}

.logo {
    width: 50%;
}

.tagline {
    width: 50%;
    color: rgb(134, 37, 1);
    font-weight: 700;
    
}

.navBar {
    width: 25%;
    display: inline-block;
    text-align: end;
    
}

.navBar a {
    text-decoration: none;
    color: black;
}

.navBar p {
    display: none;
}

.navBar span:not(nth-last-child) {
    margin-right: 20px;
}

.navBar span:hover {
    color: red;
}

@media (max-width:2560px) {
    .header {
        font-size: 44px;
    }
}

@media (max-width:1900px) {
    .header {
        font-size: 34px;
    }
}

@media (max-width:1300px) {
    .header {
        font-size: 24px;
    }
}

@media (max-width:1000px) {

    .header {
        font-size: 20px;
    }

    .navBar p {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }

    .navBar p:hover {
        color: red;
    }

    .navBar {
        position: relative;
        display: inline-block;
    }

    .links {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .links span {
        display: block;
    }

    .navBar:hover .links {
        display: block;  
    }
}