*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-meals {
    width: 60%;
    margin: 0 auto;
}

.meals-by-category {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1%;
    row-gap: 0.1%;
    margin-top: 5%;
    overflow: scroll;
}

.container {
    position: relative;
    text-align: center;
}

.container img {
    width: 100%;
    border-radius: 3%;
}

@media (max-width:768px) {
    .main-meals {
        width: 70%;       
    }
}

@media (max-width:700px) {
    .meals-by-category {
        grid-template-columns: repeat(3, 1fr);      
    }
}

@media (max-width:426px) {
    .main-meals {
        width: 80%;       
    }

    .meals-by-category {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3%;
    }
}