*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-meals {
    width: 60%;
    margin: 2% auto;
}

.meals-by-category {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    margin-top: 5%;
    overflow: scroll;
}

.container {
    position: relative;
    text-align: center;
}

.container img {
    width: 100%;
    border-radius: 3%;
}