*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-form {
  width: 100%;
  max-width: 1200px;
}

.input {
  width: 100%;
  max-width: 20rem;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background: #ececec;
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 5rem;
}