*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meals-main {
    width: 60%;
    margin: 2% auto;
}

.meals-by-search {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    margin-top: 1%;
    overflow: scroll;
}

.meal-container {
    position: relative;
    text-align: center;
}

.meal-container img {
    width: 100%;
    border-radius: 3%;
}