*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-meals {
    width: 100%;
}

.meals-by-search {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    margin-top: 1%;
    overflow: scroll;
}

.meal-container {
    position: relative;
    text-align: center;
}

.meal-container img {
    width: 100%;
    border-radius: 3%;
}
